rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /companies/{companyId} {
      allow read, write: if true;
    }

    match /transactions/{transactionId} {
      allow read, write: if true;
    }

    match /config/{configId} {
      allow read, write: if true;
    }

    match /shareholders/{shareholderId} {
      allow read, write: if true;
    }

    match /stakes/{stakeId} {
      allow read, write: if true;
    }

    match /test/{docId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if true;
    }
  }
}
